{
    email admin@insidecameroontourism.com
}

localhost, :80 {
    # Routage des appels API et Webhooks vers le backend
    handle /api/* {
        reverse_proxy backend:3001
    }
    handle /webhooks/* {
        reverse_proxy backend:3001
    }
    handle /socket.io/* {
        reverse_proxy backend:3001
    }

    # Routage du frontend SPA
    handle {
        reverse_proxy frontend:80
    }
}
